{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": false,
  "useTabs": true,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "always",
  "insertPragma" : true
}